@import "mixins/vendor-prefix/vendor-prefix.scss";
@import "variables/variables.scss";
@import "mixins/vendor-prefix/flex.scss";

body {
	margin: 0 0 3rem 0;
	font-family: $primary-font;

	& > * {
		margin: 0 3rem;
	}

	&.main-body, & .main-body {
		color: $charcoal;

		.first-section {
			box-sizing: border-box;
			background-color:$cream-brulee;
			padding: 20px 10px 20px 10px;
			margin: 0;
			text-align:center;
			color: $charcoal;
		}

		header, .header {
			color: $tuscany;
			display:inline-block;
			margin-bottom:30px;
			width: 100vw;

			figure{
				background-image: url(../img/logo.png);
				background-size:cover;
				display:inline-block;
				height: 35px;
				margin: 0;
				width:35px;
				vertical-align: bottom;


			}

			h1 {
				display:inline-block;
				font-size: 30px;
				line-height:1em;
				margin:0;
				text-transform: uppercase;
				
				a {
					font-size: 30px;
					
					&:link, & {
						color: $tuscany;
					}
				}
			}

		}

		h3 {
			font-size: 60px;
			font-weight: 300;
			line-height:60px;
			margin:0;
			letter-spacing:5px;
			text-transform: uppercase;
		}

		p {
			margin-top:30px;
		}

		nav, .navbar {
			display: inline-block;
			width: 20vw;
			position: absolute;
			top: 0;
		}

		.second-section {
			text-align:center;
			padding: 20px 10px 20px 10px;
			h2 {
				font-size:30px;
				font-weight: 400;
			}

			p {
				font-size:15px;
			}

			.intros {
				margin-top:30px;
				@include flexbox;
				@include flex-wrap(wrap);
				@include justify-content(center);

				figure {
					background-position: 50% 50%;
					display:inline-block;
					height:150px;
					@include background-size(cover);
					width:150px;
				}

				h4 {
					font-weight:400;
				}

				.first-intro {
					figure {
						background-image: url(../img/authors/luke-rebarchik.png);
					}
				}

				.second-intro {
					figure {
						background-image: url(../img/authors/tyler.png);
					}
				}

				.third-intro {
					figure {
						background-image: url(../img/authors/camilla.png);
					}
				}
			}
		}
	}
	max-width: 100vw;
	section {
		max-width: 100vw;

		&.article-stripe {
			max-width:200vw;
			overflow: hidden;
			overflow-x: scroll;
			margin:0;
			padding:0;
			white-space: nowrap;

			article {
				display:inline-block;
				vertical-align: text-top;
				max-width: 20vw;
				height: 15rem;
				margin: .75vw 2.25vw;
				padding: 1vw;
				box-sizing: border-box;
				white-space: normal;
				font-size: 13pt;
				background-color: $lily-white;
				cursor: pointer;

				p {
					font-size: 12pt;
				}
			}
		}
	}

	footer {
		position: fixed;
		bottom: 0;
		min-height:4rem;
		width: 100vw;
		margin: 0;
		padding: 1.25rem 3rem;
		background-color:$cream-brulee;
	}
}