@import "mixins/vendor-prefix/vendor-prefix.scss";
@import "variables/variables.scss";
@import "mixins/vendor-prefix/flex.scss";
@import "components/camilla.scss";
@import "components/header.scss";
@import "components/footer.scss";
@import "components/home.scss";

//@import "../../../node_modules/foundation-sites/scss/settings/_settings.scss";
//@import "../../../node_modules/foundation-sites/scss/foundation.scss";
//@import "../../../node_modules/foundation-sites/dist/css/foundation.min.css";

* {
	@include box-sizing(border-box);
}

body {
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	color: $tundora;
}