header {
	background-color: $white;
	@include flexbox();
    @include flex-direction(column);

    @media all and (min-width:750px) {
    	@include flex-direction(row);
    	@include align-items(center);
    	@include justify-content(space-between);
    	margin-right: 50px;
    }

    .logo-container {
    	@include flexbox();
    	@include align-items(center);

    	.logo {
			background-image: url("../../../site/assets/img/logo.png");
		    height: 40px;
		    width: 40px;
		    @include background-size(cover);
		    display: inline-block;
	    	margin-right: 10px;

		}
    	
    	h1 {
			color: $brown-rust;
			font-size: 30px;
		}
    }

    nav {
    	@include flexbox();
    	@include justify-content(space-around);
	    padding: 20px 0;
	    border-top: 1px solid $darkened-gray;

	    @media all and (min-width:750px) {
	    	border-top:none;
	    	min-width:300px;
	    	@include justify-content(space-between);
	    } 
    }
}