// colors

$tuscany: #af5340;
$cream-brulee: #FFE4A0;
$white: #FFFFFF;
$lily-white: #EFF2F1;
$charcoal: #444444;

//fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
$primary-font: Roboto, sans serif;

