@import "variables.scss";
@import "flex.scss";
@import "vendor-prefix.scss";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');


* {
	@include box-sizing(border-box);
}

body {
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	color: $tundora;
}

.logo {
		background-image: url("../assets/logo.svg");
	    height: 40px;
	    width: 40px;
	    @include background-size(cover);
	    display: inline-block;
	    margin-right: 10px;

	}

header {
	background-color: $cream-brulee;
	display: flex;
    align-items: center;

	h3 {
		color: $brown-rust;
	}
}

.content-container {
	margin-left:40px;
	margin-right:40px;

	@media all and (min-width:664px) {
		margin-left:115px;
		margin-right:115px;
	}

	.bio {
		display: flex;
	    flex-direction: column;
	    justify-content: center;

	    @media all and (min-width:986px) {
	    	flex-direction: row;
	    }

	    figure.bio-pic {
			background-image: url("../assets/camilla.jpg");
			@include background-size(cover);
			background-position: 50% 0%;
			background-repeat:no-repeat;
			height:385px;
			width:400px;
			margin:30px 0 0 0;

			@media all and (min-width:986px) {
				height:auto;
				width:320px;
				
			}
		}

		.text {

			@media all and (min-width:986px) {
				flex-basis: 0;
	    		flex-grow: 1;
	    	    margin-left: 40px;
			}		

			h1 {
				font-size:40px;
				font-weight:700;
				text-align: left;
				line-height: 40px;
			}

			h2 {
				color: $gray;
				font-size:18px;
				font-weight: 300;
			}

			.socials {
				display:flex;
				justify-content: flex-start;

				figure {
					height:30px;
					width:30px;
					@include background-size(contain);
					margin-left: 0;
					@include transition(ease-in-out .2s);
					cursor:pointer;

					&:hover {
						background-color: $cream-brulee;
					}
				}

				.linkedin figure {
					background-image: url("../assets/linkedin.png");
					border-radius: 20px;
				}

				.instagram figure {
					background-image: url("../assets/insta.png");
					border-radius: 7px;
				}

				.facebook figure {
					background-image: url("../assets/fb.png");
					border-radius: 15px;
				}
			}

				

			p {
				text-align: left;
				font-size: 17px;
				color: $gray;
			}

			&:after {
				content:"";
				display:inline-block;
				border:2px solid $brown-rust;
				width:100%;
			}
		}
	}

	.articles {
		display:flex;
		flex-wrap:wrap;
		justify-content: center;
		margin-top: 30px;	
		margin-left:20px;
		margin-right:20px;
		padding-top:20px;
		padding-bottom:20px;

		@media all and (min-width:694px) {
			justify-content: center;
	    	flex-wrap: wrap;
		}
		
		.card {
			margin-bottom: 50px;
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			@include transition(ease-in-out .1s);
			display:flex;
			align-items:flex-start;
			justify-content: center;
			flex-direction: column;
			padding:20px;
			max-width: 320px;
			background-color:$white;

			@media all and (min-width:694px) {
				margin-right: 15px;
				margin-left:15px;
			}

			&:last-of-type {
				margin-bottom:0;

				@media all and (min-width:694px) {
					margin-bottom:50px;
				}
			}

			&:hover {
				box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
				cursor:pointer;
			}


			&:nth-of-type(2) figure {
				background-image:url("../assets/mimi-thian-737736-unsplash.jpg");
			}

			&:hover > .date:after {
				width:100%;
				@include transition(ease-in .2s);
			}

			figure {
				background-image:url("../assets/women-in-tech.jpg");
				@include background-size(cover);
				background-position: 50% 50%;
				height:150px;
				width:100%;
				position:relative;
				display: flex;
	   			align-items: flex-end;
	   			margin: 0;
	   			align-self:center;

			}

			p {
			    display: inline-block;
			    z-index: 5;
			    font-weight: 600;
			    font-size: 20px;
			    text-align: left;
			    margin:10px 0 10px 0;
			}

			.date {
				color: $gray;
				font-size:14px;
				position:relative;

				&:before {
					content:"";
					display: block;
					width:100%;
					background-color: $brown-rust;
					height:4px;
					margin-bottom:15px;
				}

				&:after {
					content:"";
					display: block;
					margin-bottom:15px;
					top:0;
					width:0;
					height:4px;
					background-color: $cream-brulee;
					position:absolute;
					@include transition(ease-in .4s);
				}


			}
		}
	}
}

footer {
	background-color: $cream-brulee;
	color: $brown-rust;
	display:flex;
	align-items:center;
	justify-content: center;
	height:72px;

	figure {
		margin:0;
	}

	h3 {
		margin:0;
	}
}

