/* Colors */
/*random default mixins for now*/
/* Standard layout and styling */
/* Animations */
/* Filters */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #444444; }

.logo {
  background-image: url("../assets/logo.svg");
  height: 40px;
  width: 40px;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  display: inline-block;
  margin-right: 10px; }

header {
  background-color: #FFE4A0;
  display: flex;
  align-items: center; }
  header h3 {
    color: #af5340; }

.content-container {
  margin-left: 40px;
  margin-right: 40px; }
  @media all and (min-width: 664px) {
    .content-container {
      margin-left: 115px;
      margin-right: 115px; } }
  .content-container .bio {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media all and (min-width: 986px) {
      .content-container .bio {
        flex-direction: row; } }
    .content-container .bio figure.bio-pic {
      background-image: url("../assets/camilla.jpg");
      -o-background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      background-position: 50% 0%;
      background-repeat: no-repeat;
      height: 385px;
      width: 400px;
      margin: 30px 0 0 0; }
      @media all and (min-width: 986px) {
        .content-container .bio figure.bio-pic {
          height: auto;
          width: 320px; } }
    @media all and (min-width: 986px) {
      .content-container .bio .text {
        flex-basis: 0;
        flex-grow: 1;
        margin-left: 40px; } }
    .content-container .bio .text h1 {
      font-size: 40px;
      font-weight: 700;
      text-align: left;
      line-height: 40px; }
    .content-container .bio .text h2 {
      color: #8c8c8c;
      font-size: 18px;
      font-weight: 300; }
    .content-container .bio .text .socials {
      display: flex;
      justify-content: flex-start; }
      .content-container .bio .text .socials figure {
        height: 30px;
        width: 30px;
        -o-background-size: contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
        margin-left: 0;
        -webkit-transition: ease-in-out 0.2s;
        transition: ease-in-out 0.2s;
        cursor: pointer; }
        .content-container .bio .text .socials figure:hover {
          background-color: #FFE4A0; }
      .content-container .bio .text .socials .linkedin figure {
        background-image: url("../assets/linkedin.png");
        border-radius: 20px; }
      .content-container .bio .text .socials .instagram figure {
        background-image: url("../assets/insta.png");
        border-radius: 7px; }
      .content-container .bio .text .socials .facebook figure {
        background-image: url("../assets/fb.png");
        border-radius: 15px; }
    .content-container .bio .text p {
      text-align: left;
      font-size: 17px;
      color: #8c8c8c; }
    .content-container .bio .text:after {
      content: "";
      display: inline-block;
      border: 2px solid #af5340;
      width: 100%; }
  .content-container .articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px; }
    @media all and (min-width: 694px) {
      .content-container .articles {
        justify-content: center;
        flex-wrap: wrap; } }
    .content-container .articles .card {
      margin-bottom: 50px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      -webkit-transition: ease-in-out 0.1s;
      transition: ease-in-out 0.1s;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding: 20px;
      max-width: 320px;
      background-color: #ffffff; }
      @media all and (min-width: 694px) {
        .content-container .articles .card {
          margin-right: 15px;
          margin-left: 15px; } }
      .content-container .articles .card:last-of-type {
        margin-bottom: 0; }
        @media all and (min-width: 694px) {
          .content-container .articles .card:last-of-type {
            margin-bottom: 50px; } }
      .content-container .articles .card:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        cursor: pointer; }
      .content-container .articles .card:nth-of-type(2) figure {
        background-image: url("../assets/mimi-thian-737736-unsplash.jpg"); }
      .content-container .articles .card:hover > .date:after {
        width: 100%;
        -webkit-transition: ease-in 0.2s;
        transition: ease-in 0.2s; }
      .content-container .articles .card figure {
        background-image: url("../assets/women-in-tech.jpg");
        -o-background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        background-position: 50% 50%;
        height: 150px;
        width: 100%;
        position: relative;
        display: flex;
        align-items: flex-end;
        margin: 0;
        align-self: center; }
      .content-container .articles .card p {
        display: inline-block;
        z-index: 5;
        font-weight: 600;
        font-size: 20px;
        text-align: left;
        margin: 10px 0 10px 0; }
      .content-container .articles .card .date {
        color: #8c8c8c;
        font-size: 14px;
        position: relative; }
        .content-container .articles .card .date:before {
          content: "";
          display: block;
          width: 100%;
          background-color: #af5340;
          height: 4px;
          margin-bottom: 15px; }
        .content-container .articles .card .date:after {
          content: "";
          display: block;
          margin-bottom: 15px;
          top: 0;
          width: 0;
          height: 4px;
          background-color: #FFE4A0;
          position: absolute;
          -webkit-transition: ease-in 0.4s;
          transition: ease-in 0.4s; }

footer {
  background-color: #FFE4A0;
  color: #af5340;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px; }
  footer figure {
    margin: 0; }
  footer h3 {
    margin: 0; }
